* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: "Lucida Console", monospace;
  color: navy;
  text-align: center
}
#bg{
  background-color: white;
  border-style: none;
  border-radius: 50px;
}

/* Main Components */
body{
  overflow-y: scroll;
  border-style: inset;
  border-radius: 50px;
  margin: 20px;
  padding: 10px;
  background-color: #964177;
}

h1, h2{
  /* font-family: "Irish Grover", system-ui; */
  font-weight: 800;
  font-size: 64;
  /* font-style: normal; */
  padding: 20px;
  text-transform: uppercase;

}

h2 {
  font-size: 50;
}

.skeleton{
  animation: skeleton-loading 1s linear infinite alternate-reverse;
}

@keyframes skeleton-loading {
  0%{
    background-color: hsl(200, 70%, 55%);
  }
  /* 50%{
    background-color: hsl(200, 70%, 70%);
  } */
  100%{
    background-color: hsl(200, 70%, 90%);
  }
}

p{
  padding: 15px;
  text-align: center;
}

/* Page Sections */
.home{
  text-decoration: none; 
  font-size: 40px;
  border-radius: 30px;
  border-style: none;
  background-color: navy;
  background-image: radial-gradient(circle at 1px 1px, goldenrod 1px, transparent 0);
  background-size: 14px 14px; /* Adjust spacing between dots */
  background-repeat: repeat; /* Ensure the pattern repeats across the background */

  width: 50px;
  height: 50px;
  padding: 10px;
  align-self: center;
            
  /* position: fixed;
  top: 45px;
  right: 10dvw; */
}
.home-row-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto; 
  margin-right: 20px;
}

.header:hover .home-row-view {
  flex-direction: row-reverse;
  transition: 1s ease-in;
}

.header:hover .home{
  background-color: lightblue;
  background-image: radial-gradient(circle at center, goldenrod 1rem, transparent 0);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: topleft;
  transition: 0.2s ease-in;
}

.hidden-text {
  align-self: center;
  color: lightblue;
  background-color: navy;
  border-radius: 25px;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.header:hover .hidden-text{
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display:flex;
}

@media screen and (max-width: 680px){
  .hidden-text {
    display: none;
  }
  .redundant {
    display: none;
  }
  .home-row-view {
    margin: 0;
  }

  
}

.header{
  display: flex;
  justify-content: flex-start;
  letter-spacing: 5px;
  border-style: none none outset none;
  background-color: lightblue;
  background-clip: padding-box;
  border-radius: 40px 40px 0 0;
  border-color: #873d73;
  width: 100%;

}

.reddot{ /*TODO: make dot code more efficient*/
  background-color: coral;
  border-color: pink;

  border-style: onset;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 25px;
  width: 25px;
  margin: 25px 25px 0px 0px;
}

.yellowdot{
  background-color: palegoldenrod;
  border-color: bisque;

  border-style: onset;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 25px;
  width: 25px;
  margin: 25px 25px 0px 0px;
}

.greendot{
  background-color: limegreen;
  border-color: greenyellow;

  border-style: onset;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 25px;
  width: 25px;
  margin: 25px 25px 0px 0px;
}
a.reddot, a.greendot{
  border-style: outset;
  box-shadow:
            0 4px 8px 0 rgba(166, 215, 230, 0.1),
            0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

a.reddot:hover, a.greendot:hover{
  border-style: inset;
  box-shadow: 5px -5px white;
  /* background-color: #964177; */
  /* border-color: black; */
  transition: 0.3s;
}


.action-bar{
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}

.row-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bio{
  display: flex;
  justify-content: center;
  width: 700px;
  align-self: center;
  padding: 10px;
}

.process-img{

  width: 70%;
  border-style: ridge;
  border-radius: 30px;
  border-width: 5px;
  margin: 20px;
}

.thumbnail{
  width: 350px;
  border-style: ridge;
  border-radius: 30px;
  border-width: 5px;
  margin: 20px;
}
/* Sophware Design */
.icon{
  width: 300px;
  border-radius: 15%;
}

.proj{
  font-size: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
  color: black;
  display: block;
  text-align: center;
}

a{
  color:#ed5a8b;
}

video{
  width: 30%;
  height: auto;
}


/* Homepage Navigation */
#pfp {
  display: flex;
  justify-self: end;
  align-self: flex-start;
  width: 60px;
  margin: 0px 0px 0px 25px;
  align-self: center;
  border-radius: 5px;
}

#viol {
  max-width: 400px;
  margin: 0;
  align-self: flex-start;
  border-style: ridge;
  border-radius: 30px;
}

.portals{
  display: flex;
  justify-content: center;
  padding: 15px;
  transition: 2s ease-in-out;
}

.portal{
  vertical-align: bottom;
  align-items: flex-end;
  height: 200px;
  /* width: 200px; */
  padding: 15px;
  margin: 15px 15px 0px 15px;
  background-color: bisque;
  border-style: outset;
  border-radius: 50px;
  border-color: #873d73;
}

.portal-icon{
  margin: -10px 0 0 0 ;
}

/* div.portal:hover{
  background-color: #964177;
  transition: 0.2s;
} */

.fun-facts {
  width: 600px;
  align-self: center;

  border-radius: 40px;
  border-style: outset;
  border-color: #873d73;
  margin: 20px;
  box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.1),
            0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.experience-line{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  border-radius: 40px;
}

.experience-line img{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.3),
            0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.double-icon  {
  position: relative;
  width: 80px;
  height:80px;
}

.double-icon img {
  width: 50px;
  height: 50px;
}

.double-icon img:first-of-type{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.double-icon img:nth-of-type(2){
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.contact-line {
  text-decoration: none;
  width: 70px;
  height: 70px;
  border-style: inset;
  border-radius: 20px;
  background-color: bisque;
  color:#873d73;
  box-shadow:
            0 4px 8px 0 rgba(166, 215, 230, 0.3),
            0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.github-icon {
  background-image: linear-gradient(to bottom, purple, navy);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-ver{
    background-color: white;
    color: white;
}

.github-head {
  position: relative;
  /* background-color: white; */
  margin-top: 15px;
  width: 40px;
  height: 30px;
  border-radius: 20px 20px 15px 15px;
}

.github-ear {
  position: absolute;
  /* background-color: white; */
  width: 20px;
  height: 10px;
  border-radius: 10px 1px 5px 0 ;
  top: 0;
  right: 0;
  transform: rotate(-25deg);
}
.github-ear:first-of-type {
  position: absolute;
  width: 20px;
  height: 10px;
  border-radius: 1px 10px 0 5px;
  /* background-color: white; */
  left: 0;
  transform: rotate(25deg);
}

.github-body {
  position: absolute;
  /* background-color: white; */
  left: 12.5px;
  bottom: -20px;
  width: 15px;
  height: 25px;
  border-radius: 15px 15px 0 0;
}

.github-tail {
  position: absolute;
  /* color: white; */
  bottom: -40px;
  left: -18px;
  font-size: 30px;
  transform: rotate(20deg);
}

.github-icon:hover {
  box-shadow: 10px 10px #873d73;
  background-image: linear-gradient(to bottom, teal, #34cc31);
  transition: 0.3s ease-in-out;
  
}

.contact-line:hover {
  color: white;
  transform: translate3d(-5px, -15px, 0);
  box-shadow: 10px 10px lightblue;
  transition: 0.3s;
  /* animation: skeleton-loading 1s linear infinite alternate-reverse; */
  
}

.as-repo-link {
  justify-self: center;
  /* background-image: linear-gradient(to bottom, teal, pink); */
}

.as-repo-link:hover {
  transform: translate3d(0,0,0);
  /* background-image: linear-gradient(to bottom, purple, navy); */
}

.linkedin-icon {
  background-color: #0d63c4;
}

.linkedin-icon p {
  font-family: Georgia, serif;
  font-weight:bold;
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.linkedin-icon:hover {
  background-color: #e78523;
}

.experience-line p:first-of-type{
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 15px 0 15px;
  color: black;
}

.experience-line p {
  width: 400px;
}

.experience-line a{
  color: cadetblue;
}

.bottom {
  margin: 100px 0 0 0;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 830px){
  .thumbnail{
    width: 65dvw;
    min-width: 250px;
    border-style: ridge;
    border-radius: 30px;
    border-width: 5px;
    margin: 20px;
  }
  .fun-facts p{
    /* text-align: center;
    margin: 0 0.5rem; */
    width: 50dvw;
    min-width: 250px;
  }
}

@media screen and (max-width: 1200px){
  body{
  overflow-y: scroll;
  border-style: inset;
  border-radius: 50px;
  margin: 10px;
  padding: 10px;
  background-color: #964177;
}
  .row-view.bottom {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  #viol{
    width: 45dvw;
    min-width: 250px;
  }
  .header.layered-header{
    margin-left: auto;
    margin-right: auto;
    width: 45dvw;
    min-width: 200px;
    align-self: center;
  }
  .experience-line {
    margin-top: 10px;
    margin: 10px;
  }
  .fun-facts{
    width: 55dvw;
    min-width: 270px;
    font-size: clamp(0.85em, 2dvw, 1em);
    flex-wrap: wrap;
  }
}

