* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: "Lucida Console", monospace;
  color: navy;
  text-align: center
}
#bg{
  background-color: white;
  border-style: none;
  border-radius: 50px;
}

/* Main Components */
body{
  overflow-y: scroll;
  border-style: inset;
  border-radius: 50px;
  margin: 20px;
  padding: 10px;
  background-color: #964177;
}

/* nav{
  width: 100%;
  position: fixed;
}

.gat:hover {
    color: navy;
    border-color: #FFFFFF;
    background-color: bisque;
    transition: 0.2s;
}
.gat {
    width: 40%;
    font-size: 20px;
    padding: 10px;
    border-style: solid;
    text-decoration: none;
    border-radius: 20px;
   
    /* border-color: #e9598a; */
    /* color: #FFFFFF;
    border-color: lightblue;
    background-color: #844979;
}

li{
  text-align: end;
  margin-top: 20px;
  margin-right: 100px;
  list-style: none;
} */ 

h1, h2{
  /* font-family: "Irish Grover", system-ui; */
  font-weight: 800;
  font-size: 64;
  /* font-style: normal; */
  padding: 20px;
  text-transform: uppercase;

}


h2 {
  font-size: 50;
}

.skeleton{
  animation: skeleton-loading 1s linear infinite alternate-reverse;
}

@keyframes skeleton-loading {
  0%{
    background-color: hsl(200, 70%, 65%);
  }
  /* 50%{
    background-color: hsl(200, 70%, 70%);
  } */
  100%{
    background-color: hsl(200, 70%, 90%);
  }
}

.brown{
  color: #873d73;
}

p{
  padding: 15px;
  text-align: center;
}

/* Page Sections */
.header{
  display: flex;
  justify-content: flex-start;
  letter-spacing: 5px;
  border-style: none none outset none;
  background-color: lightblue;
  background-clip: padding-box;
  border-radius: 40px 40px 0 0;
  border-color: #873d73;

}

.reddot{ /*TODO: make dot code more efficient*/
  background-color: coral;
  border-color: pink;

  border-style: onset;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 25px;
  width: 25px;
  margin: 25px 25px 0px 0px;
}

.yellowdot{
  background-color: palegoldenrod;
  border-color: bisque;

  border-style: onset;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 25px;
  width: 25px;
  margin: 25px 25px 0px 0px;
}

.greendot{
  background-color: limegreen;
  border-color: greenyellow;

  border-style: onset;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 25px;
  width: 25px;
  margin: 25px 25px 0px 0px;
}
a.reddot, a.greendot{
  border-style: outset;
}

a.reddot:hover, a.greendot:hover{
  border-style: inset;
  box-shadow: 5px -5px white;
  /* background-color: #964177; */
  /* border-color: black; */
  transition: 0.3s;
}


.action-bar{
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}

#pfp{
  display: flex;
  justify-self: end;
  align-self: flex-start;
}

.row-view {
  /* padding: 15px;
  margin: 0 20px 0 20px; */
  display: flex;
  flex-direction: row;
  justify-content: center;;
}

#nutritious-view{
  flex-direction: row-reverse;
}
.bio{
  width: 700px;
  align-self: center;
  padding: 10px;
}

.process-img{

  width: 70%;
  border-style: ridge;
  border-radius: 30px;
  border-width: 5px;
  margin: 20px;
}

.thumbnail{
  width: 350px;
  border-style: ridge;
  border-radius: 30px;
  border-width: 5px;
  margin: 20px;
}
/* Sophware Design */
.icon{
  width: 300px;
  border-radius: 15%;
}

.proj{
  font-size: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
  color: black;
  display: block;
  text-align: center;
}

a{
  color:#ed5a8b;
}

video{
  width: 30%;
  height: auto;
}


/* Homepage Navigation */
#pfp {
  width: 60px;
  margin: 0px 0px 0px 25px;
  align-self: center;
  border-radius: 5px;
}

#viol {
  width: 400px;
  margin: 0 0 10px 0;
  align-self: flex-start;
  border-style: ridge;
  border-radius: 30px;
}

.portals{
  display: flex;
  justify-content: center;
  padding: 15px;
}

.portal{
  vertical-align: bottom;
  align-items: flex-end;
  height: 200px;
  /* width: 200px; */
  padding: 15px;
  margin: 15px 15px 0px 15px;
  background-color: bisque;
  border-style: outset;
  border-radius: 50px;
  border-color: #873d73;
}

.portal-icon{
  margin: -10px 0 0 0 ;
}

/* div.portal:hover{
  background-color: #964177;
  transition: 0.2s;
} */

#about-header{
  background-color: navy;
}

#sophware-header{
  background-color:black;
}

.fun-facts {
  width: 600px;
  align-self: center;

  border-radius: 40px;
  border-style: outset;
  border-color: #873d73;
  margin: 20px;
}

#bottom {
  margin: 100px 0 0 0;
  max-width: 100%;
  height: auto;
}

